[Unit]
Description=Lite server for AGV
After=network.target hostapd.service dnsmasq.service

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/agv_websocket_controller
ExecStart=/usr/bin/npx lite-server
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
