[Unit]
Description=WebSocket server for AGV
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/agv_websocket_controller
ExecStart=/usr/bin/sudo /usr/bin/node ws.js
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target